:root {
  --theme-color-name: #f5322d;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #d70018;
  --c-primary-light: #f5322d80;
  --c-primary-fade: #ef2b291a;
  --rgb-primary: 245, 50, 45;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #dd0e1c;
  --c-dark-primary-light: #fb393180;
  --c-dark-primary-fade: #f5322d1a;
  --rgb-dark-primary: 245, 50, 45;
}
