:root, :root::selection {
  --c-border: #eee;
  --c-border-dark: #dccfcf;
  --c-border-code: #ddd;
  --c-danger: #FF3C1B;
  --c-danger-active: #B50900;

  --rgb-bg-base: 250, 250, 250;

  --c-bg-base: rgb(var(--rgb-bg-base));

  --c-bg-active: #f2f2f2;
  --c-bg-card: #00000006;
  --c-bg-code: #00000006;
  --c-bg-selection: #8885;
  --c-bg-dm: #f1e8e6;

  --c-text-base: #232323;
  --c-text-code: #63470c;
  --c-text-secondary: #686868;
  --c-text-secondary-light: #919191;

  --c-bg-btn-disabled: #a1a1a1;
  --c-text-btn-disabled: #fff;
  --c-text-btn-disabled-deeper: #a1a1a1;

  --c-success: #67C23A;
  --c-warning: #E6A23C;
  --c-error: #F56C6C;
}

.dark {
  --c-primary: var(--c-dark-primary);
  --c-primary-active: var(--c-dark-primary-active);
  --c-primary-light: var(--c-dark-primary-light);
  --c-primary-fade: var(--c-dark-primary-fade);
  --c-danger: #FF2810;
  --c-danger-active: #E02F00;

  --c-border: #222;
  --c-border-code: #333;
  --c-border-dark: #545251;

  --rgb-bg-base: 17, 17, 17;

  --c-bg-active: #191919;
  --c-bg-card: #ffffff06;
  --c-bg-code: #ffffff06;
  --c-bg-dm: #0a2f35;

  --c-text-base: #f3f3f3;
  --c-text-code: #ecd88e;
  --c-text-secondary: #888;
  --c-text-secondary-light: #686868;

  --c-bg-btn-disabled: #2a2a2a;
  --c-text-btn-disabled: #919191;
}
