node_modules
*.log
dist
.output
.pnpm-store
.nuxt
.data
.env
.DS_Store
.idea/
.vite-inspect
.netlify/
.eslintcache
elk-translation-status.json

public/emojis

# Playwright
test-results/
playwright-report/
playwright/.cache/

*~
*swp
*swo
