node_modules
*.log
dist
.output
.pnpm-store
.nuxt
.data
.env

# Docker persistent storage volume (runtime account/login data)
elk-storage/

.DS_Store
.idea/
.vite-inspect
.netlify/
.eslintcache
elk-translation-status.json

public/emojis

*~
*swp
*swo
