:root {
  --theme-color-name: #cc7d24;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #b16605;
  --c-primary-light: #cc7d2480;
  --c-primary-fade: #c7781f1a;
  --rgb-primary: 204, 125, 36;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #b66b0d;
  --c-dark-primary-light: #d1822980;
  --c-dark-primary-fade: #cc7d241a;
  --rgb-dark-primary: 204, 125, 36;
}
