.v-popper--theme-dropdown .v-popper__inner {
  --at-apply: bg-base text-base rounded border border-base shadow;
  box-shadow: 0 6px 30px #0000001a;
}
.v-popper--theme-dropdown .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-$c-bg-base;
}
.v-popper--theme-dropdown .v-popper__arrow-outer {
  --at-apply: border-base;
}
.v-popper--theme-tooltip .v-popper__inner {
  --at-apply: bg-base text-base rounded border border-base shadow-sm;
  padding: 7px 12px 6px;
}
.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: visible;
  --at-apply: border-bg-base;
}
.v-popper--theme-tooltip .v-popper__arrow-outer {
  --at-apply: border-base;
}
