* {
  scrollbar-color: #8885 var(--c-border);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--c-border);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #8885;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8886;
}

/* Force vertical scrollbar to be always visible to avoid layout shift while loading the content */
html {
  overflow-y: scroll;
}

.custom-emoji {
  display: inline-block;
  max-height: 1.2em;
  max-width: 1.2em;
  vertical-align: middle;
}

.rich-content {
  a {
    --at-apply: text-primary hover:underline hover:text-primary-active;
    .invisible {
      --at-apply: hidden;
    }
    .ellipsis {
      --at-apply: truncate overflow-hidden ws-nowrap;
    }
  }
  b {
    --at-apply: font-bold;
  }
  p {
    --at-apply: my-2;
  }

  .code-block {
    --at-apply: bg-code text-0.9rem p3 rounded overflow-auto leading-1.6em;

    .shiki {
      background: transparent !important;
    }
  }
}

.zenmode .zen-hide {
  --at-apply: op0 hover:op100 transition duration-600;
}
