:root {
  --c-primary: #EA9E44;
  --c-primary-active: #C16929;
  --c-primary-light: #EA9E4466;
  --c-border: #eee;

  --c-bg-base: #fff;
  --c-bg-active: #f6f6f6;
  --c-bg-code: #00000006;
  --c-bg-selection: #8885;
  --c-bg-fade: #EA9E4411;

  --c-text-base: #232323;
  --c-text-code: #f5e5a7;
  --c-text-secondary: #686868;
  --c-text-secondary-light: #919191;

  --c-bg-btn-disabled: #a1a1a1;
  --c-text-btn-disabled: #fff;
  --c-text-btn: #232323;
}

.dark {
  --c-border: #222;

  --c-bg-base: #111;
  --c-bg-active: #191919;
  --c-bg-code: #ffffff06;
  --c-bg-fade: #EA9E4411;

  --c-text-base: #fff;
  --c-text-code: #ecd88e;
  --c-text-secondary: #888;
  --c-text-secondary-light: #686868;

  --c-bg-btn-disabled: #2a2a2a;
  --c-text-btn-disabled: #919191;
}
