:root {
  --c-primary: #EA9E44;
  --c-primary-active: #C16929;
  --c-border: #88888820;
  --c-bg-base: #fff;
  --c-bg-active: #f6f6f6;
  --c-bg-code: #00000006;
  --c-bg-selection: #8885;
  --c-text-base: #232323;
  --c-text-secondary: #686868;
  --c-text-secondary-light: #919191;
}

.dark {
  --c-bg-base: #111;
  --c-bg-active: #191919;
  --c-bg-code: #ffffff06;
  --c-text-base: #fff;
  --c-text-secondary: #888;
  --c-text-secondary-light: #686868;
}
